.carousel-indicators {
  position: static;
}

.carousel-indicators li {
  width: 600px;
  height: 100%;
  opacity: 0.8;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:weight@100;200;300;400;500;600;700;800&display=swap");


body {
  background-color: #eee;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

/* .height {
  height: 100vh;
} */

@media only screen and (max-width:992px) {
  .navmob {
    background-color: #84c225 !important;
    /* width: 110%; */
    margin-left: -5px;
  }

  .search button {
    background-color: transparent !important;
  }

  .search button:hover {
    border: 1px solid #0a1622;
  }
}

.navbar-toggler-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: contain;
}

.search {
  position: relative;
  box-shadow: 0 0 40px rgba(51, 51, 51, .1);
  width: 40vw;
}

.search input {

  height: 40px;
  text-indent: 25px;
  border: 2px solid #d6d4d4;
  border-radius: 0px;
}


.search input:focus {

  box-shadow: none;
  border: 2px solid gray;

}

.search .fa-search {

  position: absolute;
  /* top: 20px; */
  left: 16px;

}

.search button {
  border: #84c225;
  border-radius: 0px;
  position: absolute;
  top: 0px;
  right: 0px;
  height: 40px;
  width: 40px;
  background: #84c225;

}

.search button:hover {
  background: #84c225;
}

.sright {
  /* align-content: flex-end; */
  text-decoration: none;
  color: darkgray;

  /* margin-right: 6rem; */
}

.basket {
  /* background-color: darkgray; */
  position: relative;
}

.cont {
  height: 40px;
}

@media only screen and (max-width :992px) {
  .hide {
    display: none !important;
  }

  .search {
    margin-left: -5vw;
    width: 85vw;
  }
}

/* items carousel */

.card-st {
  width: 15vw;
}

.cardh {
  border: none;
}

.cardh:hover {
  box-shadow: 0px 0px 20px grey;
}

.card {
  border: none;
}

.card-img-top {
  height: 150px;
  object-fit: cover;
}

.card-title {
  /* font-size: 1.2rem !important; */
}

.card-text {
  margin-bottom: 1rem;
}

.cartl {
  margin-right: 1rem;
  margin-bottom: 0.2rem;
}

.btn-primary {
  background-color: #0a1622;
  border-color: #0a1622;
}

.btn-primary:hover {
  background-color: #84c225;
  border-color: #84c225;
}

@media only screen and (max-width:768px) {

  /* .card-st{
    width: 30vw ;
    height:20vh;
  } */
  .card {
    width: 10rem;
    /* height:32vh; */
    margin-bottom: 1rem;
  }

  .caolmar {
    margin-right: 5rem !important;
  }

  .card-img-top {
    width: 10rem;
    height: 15vh;
  }

  .card-title {
    width: 50vw;
    font-size: 0.9rem !important;
    height: 0vh !important;
    text-align-last: left;
  }

  .card-text {
    /* margin-top: 0.5rem !important; */
    width: 20vw;
    font-size: .7rem !important;
    height: 0vh !important;
  }

  .btn-primary {
    width: 10vw;
    font-size: 8px !important;
    height: 4vh !important;
  }

  .carthide {
    display: none;
  }
}

@media only screen and (max-width:500px) {
  .card {
    width: 10rem;
  }

  .carthide {
    display: none;
  }

  .btn-primary {
    width: 20vw;
    font-size: 8px !important;
    height: 4vh !important;
  }

  .cartl {
    margin-right: 0rem;
  }
}



@media (min-width: 576px) {
  .col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
  }
}

.catdrop {
  border-radius: 0;
  /* padding: 1px; */
  background-color: #84c225 !important;
  border: #84c225;
}

.social {
  border-radius: 50%;
  /* width:2.5rem; */
  height: 2.5rem;
  /* margin-left: 0; */
}

.drpmenu {
  border-radius: 0px;
  box-shadow: 0px 0px 20px grey;
}

.sidenav {
  text-align: start;
  border-radius: 0;
  /* padding: 1px; */
  /* background-color: #84c225 !important; */
  /* border: #84c225; */
  color: #0a1622 !important;
  /* width:100%; */
  /* font-size: small; */
}

.sidebar {
  height: 100%;
  /* 100% Full-height */
  width: 0;
  /* 0 width - change this with JavaScript */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Stay on top */
  top: 0;
  left: 0;
  background-color: white;
  /* Black*/
  overflow-x: hidden;
  /* Disable horizontal scroll */
  padding-top: 60px;
  /* Place content 60px from the top */
  transition: 0.5s;
  /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  /* text-align: center; */
  text-decoration: none;
  font-size: 20px;
  color: #0a1622 !important;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: gray;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: transparent;
  /* color: white; */
  /* padding: 10px 15px; */
  border: none;
}

.openbtn:hover {
  background-color: transparent;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  /* If you want a transition effect */
  /* padding: 20px; */
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }

  .sidebar a {
    font-size: 18px;
  }
}

/* submenu */

.dropdown-menu li {
  position: relative;
}

.dropdown-menu .dropdown-submenu {
  display: none;
  position: absolute;
  border-radius: 0px;
  left: 100%;
  top: -7px;
  box-shadow: 0px 0px 20px grey;
}

.dropdown-menu .dropdown-submenu-left {
  right: 100%;
  left: auto;
}

.dropdown-menu>li:hover>.dropdown-submenu {
  display: block;
}


.drp-sub{

}